.header {
    display: flex;
    gap: 3rem;
    margin: 3rem auto;
    width: 90%;
    max-width: 75rem;
  }
  
  .slideshow {
    width: 40rem;
    height: 25rem;
  }
  
  .hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ddd6cb;
  }
  
  .hero h1 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #f9572a, #ffc905);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
  }
  
  .hero p {
    font-size: 1.5rem;
  }